# Copia este fichero como .env y rellena tus credenciales de Supabase
# NO subas .env a Git (ya está en .gitignore)

REACT_APP_SUPABASE_URL=https://hqxhnmpbpsnrqcjuuife.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhxeGhubXBicHNucnFjanV1aWZlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0OTcxODUsImV4cCI6MjA5ODA3MzE4NX0.mGsuy6ctHexTQvDzHXhbe2Yjod1IpPReY9jxG56YX6k
